<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/main.css">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-textfill@0.6.0/source/jquery.textfill.min.js" defer></script>
  <script src="/js/main.js" charset="utf-8" defer></script>

  <link rel="canonical" href="https://werds.co">
  <meta name="Description" content="A place for words.">
  <link rel="shortcut icon" href="about:blank"/>
  <title>werds.co</title>
</head>
<body>
  <div class="container">
    <span>
      {{.}}
    </span>
  </div>
  <a href="javascript:void(0)" class="copy-link">copy link</a>
</body>
</html>
